<!--表数据展示-->
<div ++tableName="{{tableName}}" class="tab-pane">
    <table class="table table-hover table-bordered">
        <thead>
        <tr style="word-break: keep-all">
            <th>序号</th>
            <th>excel字段名称</th>
            <th>excel字段注释</th>
            <th>字段类型</th>
            <th>字段长度</th>
            <th>
                是否主键
                <button class="btn btn-default" id="clearPK" type="button">清除</button>
            </th>
        </tr>
        </thead>
        <tbody>
        {{each data as v i}}
        {{if i > 0}}
        <tr>
            <td>{{i}}</td>

            {{each v as vv ii}}
            {{if ii > 2}}
            <td>
                <input name={{vv}} value={{vv}}/>
            </td>
            {{/if}}
            {{/each}}

            <td>
                <select fieldType={{v[0]}}>
                    <option selected value="0">请选择字段类型</option>
                    <option value="varchar">varchar</option>
                    <option value="int">int</option>
                    <option value="text">text</option>
                </select>
            </td>

            <td>
                <input fieldLength={{v[0]}} placeholder="请输入字段长度"/>
            </td>
            <td><input fieldPk={{v[0]}} name="isPK" type="radio"/></td>
        </tr>
        {{/if}}
        {{/each}}
        </tbody>
    </table>
</div>
<button type="button" onclick="createTableAndInsertValue(this)" data-dismiss="modal" -+
        class="saveExcelSuccess btn green" tablename="{{tableName}}">保存
</button>

1.事件绑定到 .saveExcelSuccess
2.var $tableName = this.attr("tableName") 序列化$("div "+$tableName +" table")的值

！！！ 后台方法 需要分辨当前tableName 选择指定的sheet页添加（完成）